!!!
html
  head
    title= title
    != css('bootstrap.min.css')
    != css('bootstrap-responsive.min.css')
    != js('application')
  body
    
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand="Playground"

    .container
      != body
